<div class="shopping-cart">
  <!-- Title -->
  <div *ngIf="products.length ===  0;else cart " class="empty-cart">
    No tienes ningún artículo en tu carrito.
    Haga clic <a href="#products"> aquí</a> para continuar comprando.

  </div>
  <!-- Product #1 -->
  <ng-template #cart>
    <!-- Title -->
    <div class="title">
      Lista de compras
    </div>
    <div *ngFor="let product of products; index as i" [attr.data-index]="i" class="item">
      <div class="buttons">
        <span (click)="removeProduct(product)">
          <i class="delete-btn fa fa-times"></i></span>
        <!-- <span [ngClass]="{'is-active': clicked}" (click)="clicked =!clicked" class="like-btn"></span> -->
      </div>

      <div class="image">
        <img src="{{product.path}}" alt="" />
      </div>

      <div class="description">
        <span>{{product.name}}</span>
      </div>
      <div class="subTotal">
        <div class="total-price">{{product.price| currency}}</div>
        <div class="quantity">
          <button (click)="removeQtyProduct(product)" class="minus-btn" type="button" name="button">
            <img src="assets/images/minus.svg" alt="" />
          </button>
          <input type="text" name="name" value={{product.quantity}} (change)="addProductQuantity(product, $event)">
          <button (click)="addProduct(product)" class="plus-btn" type="button" name="button">
            <img src="assets/images/plus.svg" alt="" />
          </button>
        </div>

        <div class="total-price">{{product.price * product.quantity | currency}}</div>
      </div>

      <div class="btn-mobile">
        <a (click)="removeProduct(product)"> Eliminar
        </a>
      </div>
    </div>
    <div class="item total">
      <span class="total-text"> Total: </span>
      <div class="total-price2">{{totalPrice | currency}}</div>
    </div>
  </ng-template>

</div>