@use "assets/styles/color";

.title-box-default {
    background: rgba(0, 0, 0, 0) url("assets/images/home_1/bg_title.png") no-repeat scroll center top;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}
.title-tab {
    font-size: 30px;
    text-transform: uppercase;
}
.new-arrival-product {
    background: #fff none repeat scroll 0 0;
    padding-top: 70px;
}
.list-title-tab .active {
    color: #ffc229;
}
.title-box-default a {
    color: #333;
    font-size: 30px;
    transition: all 0.5s ease-out 0s;
}

.prev-new-arrival {
    display: inline-block;
    margin-right: 0;
    opacity: 0;
    top: -13px;
    transition: all 0.5s ease-out 0s;
    vertical-align: top;
}
.next-new-arrival {
    margin-left: 0px;
    transition: all 0.5s ease-out 0s;
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    vertical-align: top;
}
.title-box-default a:hover {
    color: #ffc229;
}

.item-thumb-product {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: flex-end;
}
.item-thumb-product .product-thumb-front {
    opacity: 1;
    visibility: visible;
}
.product-thumb-behind {
    transform: rotateY(180deg);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.item-thumb-product img {
    transition: all 0.5s ease-out 0s;
}
.item-product:hover {
    cursor: pointer;
}
.status-product-new {
    background: #19ca5c none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    left: 0;
    padding: 0 10px 1px;
    position: absolute;
    text-transform: lowercase;
    top: 0;
    z-index: 10;
}
.status-product-soon {
    background: #ff6766 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    left: 0;
    padding: 0 10px 1px;
    position: absolute;
    text-transform: lowercase;
    top: 0;
    z-index: 10;
}
.status-product-sale {
    background: #ff6766 none repeat scroll 0 0;
    color: #fff;
    padding: 0 10px 1px;
    position: absolute;
    right: 0;
    text-transform: lowercase;
    top: 0;
    z-index: 10;
}

@media (min-width: 992px) {
    .item-product:hover .product-thumb-front {
        transform: rotateY(180deg);
        opacity: 0;
        visibility: hidden;
    }
    .item-product:hover .product-thumb-behind {
        transform: rotateY(0deg);
        opacity: 1;
        visibility: visible;
    }

    .item-info-product h3 a:hover {
        cursor: pointer;
        color: color.$green-italy;
    }
    .item-info-product h3 a {
        color: #333;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 14px;
    }
    .item-product:hover {
        margin-bottom: 65px;
        position: relative;
        box-shadow: 0px 10px 20px 0px rgba(0, 23, 51, 0.09);
    }
    .item-thumb-product::before {
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        opacity: 0;
        z-index: 9;
        visibility: hidden;
        transition: all 0.5s ease-out 0s;
    }
    .item-product:hover > .item-thumb-product::before {
        opacity: 1;
        visibility: visible;
    }
    .new-arrival-product:hover .prev-new-arrival {
        opacity: 1;
        visibility: visible;
        margin-right: 25px;
    }
    .new-arrival-product:hover .next-new-arrival {
        opacity: 1;
        visibility: visible;
        margin-left: 25px;
    }
    // .item-info-product {
    //     min-height: 160px;
    // }
}
 .item-info-product {
      height: 100%;;
    }
// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { 
//       .item-info-product {
//         min-height: 200px;
//     }
//  }
// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { 
//       .item-info-product {
//       height: 100%;;
//     }
//  }

.info-product-price > span {
    font-weight: 600;
    font-size: 18px;
}
.item-info-product {
    margin-top: 25px;
    transition: 0.5s;
    padding: 15px;
    cursor: text;
}
.info-product-price del {
    color: #999;
    margin-left: 10px;
}
.product-rating-star {
    color: #ffc229;
}
.info-product-price {
    margin: 10px 0 15px;
}
.item-product {
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 20px 0px rgba(0, 23, 51, 0.09);
    height: 90%;
    text-align: center;
}

.p-relative {
    position: relative;
    text-align: center;
}

.flex {
    display: flex;
    width: 100%;
}

.product-name {
    cursor: pointer;
}

.add-btn {
    padding: 12px 20px;
    background-color: color.$red-italy-bold;
}
.add-button-container {
    margin-bottom: 20px;
}
