<section id="products">
  <div class="new-arrival-product">
    <div class="container">
      <div class="title-box-default">
        <!-- <a href="#" class="prev-new-arrival"><i class="fa fa-arrow-circle-left"></i></a> -->
        <span class="title-tab">Nuestros productos</span>
        <!-- <a href="#" class="next-new-arrival"><i class="fa fa-arrow-circle-right"></i></a> -->
      </div>
      <!-- End Title Slider -->
      <div class="content-product-slider">
        <div class="wrap-item">
          <div class="item">
            <div class="row">
              <div *ngFor="let product of productsList" class="col-md-3 col-sm-6 col-xs-12">
                <div class="item-product">
                  <div class="item-thumb-product" (click)="open(product.id)">
                    <img src={{product.path}} alt="" class="product-thumb-front" />
                    <img src={{product.path}} alt="" class="product-thumb-behind" />
                    <div (click)="addToCart(product, $event)" *ngIf="product.stock" class="info-product-cart">
                      <div class="inner-info-product-cart">
                        <a class="link-product-add-cart">
                          Añadir <a class="link-quick-view"><i class="fas fa-shopping-cart"></i></a>
                        </a>
                      </div>
                    </div>

                    <span *ngIf=product.new class="status-product-new">Nuevo</span>
                    <span *ngIf=!product.stock class="status-product-soon">Sin stock</span>
                    <span *ngIf=product.soon class="status-product-new">Proximamente</span>
                    <span *ngIf=product.promotion class="status-product-sale">{{product.promotion_discount}}</span>
                  </div>

                  <div class="item-info-product p-relative">

                    <h3><a (click)="open(product.id)">{{product.name}}</a></h3>
                    <div class="info-product-price">
                      <span>{{product.price | currency}}</span>
                      <del *ngIf=product.promotion>{{product.old_price | currency}}</del>

                    </div>
                    <div class="product-rating-star">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>


                  </div>
                </div>

              </div>


            </div>

          </div>
          <!-- End Item -->

        </div>
      </div>
      <!-- End Content Slider Product -->
    </div>
  </div>
</section>