<body class="home-page">
    <a href="https://wa.me/598097186081?text=Me%20gustaría%20tener%20informacion" class="whatsapp" target="_blank"> <i
            class="fab fa-whatsapp whatsapp-icon"></i></a>

    <div class="wrap">
        <div id="content">
            <div class="content-top">
                <app-banner [promotions]="promotions" [cellsToShow]=1 [height]=500 [dots]=true [arrowsOutside]=true [arrows]="isDesktop">
                </app-banner>
                <app-products></app-products>
                <app-contact></app-contact>
            </div>
            <script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
            <script type="text/javascript" src="js/bootstrap.min.js"></script>
            <script type="text/javascript" src="js/owl.carousel.js"></script>
            <script type="text/javascript" src="js/theme.js"></script>
        </div>
    </div>
</body>