<body class="home-page">
    <div class="wrap">
        <div id="content">
            <div class="content-top">
                <app-banner [images]="images" [cellsToShow]=1 [height]=500 [dots]=true></app-banner>
                <app-products></app-products>
                <app-contact></app-contact>
            </div>
            <script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
            <script type="text/javascript" src="js/bootstrap.min.js"></script>
            <script type="text/javascript" src="js/owl.carousel.js"></script>
            <script type="text/javascript" src="js/theme.js"></script>
        </div>
    </div>
</body>