@forward "sass:color";

// stylelint-disable color-no-hex
$white: #fff;
$black: #000;
$yellow: #ffb424;
$vivid-orange: #ffc229;
$grey: #eaeaec;
$green-italy: #008000c7;
$white-italy: #ffffffbf;
$red-italy: #ff0000c2;
$red-italy-bold: #C91512;
$red-italy-second: #FF6666;
$grey-2:#AAB8C2;