@use "assets/styles/color";

@media (max-width: 1366px) {
    .banner-info {
        margin: 15em 0 0 3em;
    }
}

.banner-info {
    width: 50%;
    margin: 5em 0 0 5em;
    padding-bottom: 1em;
    position: absolute;
    z-index: 999999;
    animation-delay: 1s;
}
.banner-info h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    margin: 0;
}
.banner-info h2 span {
    display: block;
}
.banner-info p {
    color: #fff;
    margin: 1em 0 2em;
    font-size: 16px;
}

.promotion-info {
    max-width: 350px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 39px;
    color: #313639;
    margin-bottom: 50px;
    text-transform: capitalize;
}

.promotion-name {
    color: color.$white;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 13px;
}

.carousel-cell {
    background: rgba(0, 0, 0, 0.5);
}

.promotion-price {
    font-family: "Yellowtail", cursive;
    color: color.$red-italy;
    font-size: 40px;
    display: inline-block;
}

@media (max-width: 1024px) {
    .banner-info {
        margin: 10em 0 0 4em;
    }
}

@media (max-width: 768px) {
    .banner-info h2 {
        font-size: 46px;
    }
    .banner-info {
        margin: 8em 0 0 5em;
    }
}

@media (max-width: 640px) {
    .banner-info h2 {
        font-size: 38px;
    }
    .banner-info {
        margin: 5em 0 0 4em;
    }
}

@media (max-width: 480px) {
    .banner-info {
        width: 68%;
    }
}

.banner {
    margin-top: 50px;
    margin-bottom: 50px;
}
