<div class="container banner">
  <carousel [height]="height" [borderRadius]="10" [autoplay]="true" [dots]="dots" [loop]="true"
    [arrowsOutside]="arrowsOutside" [cellsToShow]="cellsToShow">

    <div *ngFor="let promotion of promotions" class="carousel-cell">
      <div class="banner-info">
        <h2>{{promotion.name}}</h2>
        <p>{{promotion.info}}
        </p>
        <a (click)="addProduct(promotion)">AÑADIR</a>
      </div>
      <img src={{promotion.path}}>
    </div>
  </carousel>
</div>