@use "assets/styles/color";

.banner-info {
    width: 100%;
    z-index: 999999;
    animation-delay: 1s;
    text-align: center;
}
.banner-info h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    margin: 0;
}
.banner-info h2 span {
    display: block;
}
.banner-info p {
    color: #fff;
    margin: 1em 0 2em;
    font-size: 16px;
}

.promotion-info {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 39px;
    color: #313639;
    margin-bottom: 50px;
    text-transform: capitalize;
}

.promotion-name {
    color: color.$white;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 13px;
}

.carousel-cell {
    background: rgba(0, 0, 0, 0.5);
}

.promotion-price {
    font-family: "Yellowtail", cursive;
    color: color.$red-italy;
    font-size: 40px;
    display: inline-block;
}

@media (max-width: 992px) {
    img {
        width: 65% !important;
    }
    .promotion-name {
        font-size: 40px;
    }
}
.carousel-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .banner-info h2 {
        font-size: 46px;
    }
    .promotion-info {
        max-width: 100%;
    }

    .banner-info {
        margin: 0;
        text-align: center;
        position: relative;
        width: 100%;
    }

    .carousel-cell {
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        flex-wrap: nowrap;

        img {
            height: 50% !important;
        }
    }
}

@media (max-width: 640px) {
    .banner-info h2 {
        font-size: 38px;
    }
}

@media (max-width: 480px) {
    .promotion-name {
        font-size: 40px;
    }

    .add-btn {
        padding: 20px 30px;
    }
}

.banner {
    margin-top: 50px;
    margin-bottom: 50px;
}
