<div class="container banner">
  <carousel [height]="height" [borderRadius]="10" [autoplay]="false" [dots]="dots" [loop]="true"
    [arrowsOutside]="arrowsOutside" [cellsToShow]="cellsToShow" [arrows]="arrows">

    <div *ngFor="let promotion of promotions" class="carousel-cell">
      <div class="banner-info">
        <span class="promotion-price">{{promotion.price  | currency}}</span>
        <h1 class="promotion-name">{{promotion.name}}</h1>
        <p class="promotion-info">{{promotion.info}}
        </p>
        <a class="btn-web add-btn" (click)="addProduct(promotion)">AÑADIR</a>

      </div>
      <img class="promotion-image" src={{promotion.path}}>
    </div>
  </carousel>
</div>